.blogListContainer{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 3 rem;
}
a{
    text-decoration: none ;
    cursor: pointer;
    box-shadow: 0 4px 21px -21px rgba(0, 0, 0, 0.79);
}

.articleContainer{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    margin:20px ; 
    background-color: white ;
    /* border-radius: 15px ; */
    box-shadow: 0 4px 21px -5px rgba(0, 0, 0, 0.79);
}

.articleImage{
    width:100%;
    height:70% ;
}

.articleImage img{
    /* border-radius: 20px 20px 0px 0px ; */
    width: 100%;
    height: 100% ;
    object-fit: fill;
}


.articleCategory{
    background-color: rgb(189, 218, 243);
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px ;
    margin: 5px 5px 5px 5px ;
    color: black;
}

.articleTitle{
    margin: 10px ;
    color: lightslategray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.author{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.author img{
    margin: 5px;
    width: 10%;
}


@media(max-width:768px){
    .blogListContainer{
        grid-template-columns: repeat(2 , 1fr) ; 
    }
}

@media (max-width:600px){
    .blogListContainer{
        grid-template-columns: repeat(1 , 1fr); 
    }
}

